.about__text{
margin-bottom: 30px;
}
.about__text:last-child{
margin-bottom: 0;
}

.about{
    padding-top: 90px;
    padding-bottom: 140px;
    @include media-phone{
        padding-top: 50px;
    padding-bottom: 90px;
    }
}

.about__title{
    margin-bottom: 76px;
    @include media-phone{
        margin-bottom: 50px;
    }
}