.footer{
    background-color: #FFFAF2;
    padding-top: 93px;
    padding-bottom: 189px;
}

.footer__title{
    padding-bottom: 51px;
}

.footer__row{
    display: flex;
}

.footer__options{
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 14px 0;
}
.footer__option-item{
    width: 50%;
}

.footer__options .contacts{
    flex-grow: 1;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 14px;
}


