@font-face {
  font-family: "Libre Franklin";
  font-weight: normal;
  font-display: swap;
  src: url(../../fonts/LibreFranklin-Regular.woff2) format(woff2);
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 600;
  font-display: swap;
  src: url(../../fonts/LibreFranklin-SemiBold.woff2) format(woff2);
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 700;
  font-display: swap;
  src: url(../../fonts/LibreFranklin-Bold.woff2) format(woff2);
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
html {
  font-family: Lato;
  font-size: 10px;
  font-family: "Libre Franklin", sans-serif;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  @include media-tablet{
    width: 90%
  }
}

.title{
@include font-title;
}

.text{
@include font-general;
}

.subtitle{
 @include font-subtitle;
  color: color-content;
}

.footer__text{
  @include font-footer;
  color: color-content;
}

